<button class="reset-button" (click)="reset()">
  Reset
</button>
<div><input [(ngModel)]="counterResetTime" id="example-ngModel">
  <label for="example-ngModel">Counter in Seconds</label>
</div>
<br>

<div class="map" #map (pan)="logPan($event)">
  <div class="relaxing">relaxing</div>
  <div class="exiting">exciting</div>
  <div class="ugly">ugly</div>
  <div class="beautiful">beautiful</div>
  <div class="line-y"></div>
  <div class="line-x"></div>
</div>

{{counter | formatTime}}
<div *ngIf="over">Time is up</div>

<div class="chart-container">
  <ngx-charts-line-chart *ngIf="over"
                         [legend]="true"
                         [showXAxisLabel]="true"
                         [showYAxisLabel]="false"
                         [xAxis]="xAxis"
                         [yAxis]="yAxis"
                         [xAxisLabel]="'Time'"
                         [yAxisLabel]="'0-100'"
                         [timeline]="timeline"
                         [results]="data"
                         [curve]="curve"
                         [legendPosition]="legendPosition"
  >
  </ngx-charts-line-chart>
</div>
